body {
    background-color: hsla(240,100%,10%,1);
    color: white;
    text-align: center;
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'Silkscreen', cursive;
}

hr {
    width: 80%;
    margin: 2rem auto;
    border: solid 2px hsla(240,20%,50%,1);
    box-shadow: 0px 0px 25px white;
}

.site-title {
    padding: 2rem;
    /* background-color: hsla(240,100%,20%,1); */
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    line-height: 1.5;
}

.pixel-border {
    border: solid 4px white;
    border-radius: 4px;
    clip-path: polygon(
        0px 4px,
        4px 4px,
        4px 0px,
        calc(100% - 4px) 0px,
        calc(100% - 4px) 4px,
        100% 4px,
        100% calc(100% - 4px),
        calc(100% - 4px) calc(100% - 4px),
        calc(100% - 4px) 100%,
        4px 100%,
        4px calc(100% - 4px),
        0px calc(100% - 4px)
      );
}

#arena {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0rem auto;
}

#arena > .pixel-border {
    height: 12rem;
    width: 12rem;
}

#pc-choice {
    transform: scaleX(-1);
}

.countdown {
    /* background-color: red; */
    padding: 2rem 4rem;
    font-size: 3rem;
    transition: padding 0.5s;
    text-shadow: 0px 0px 10px white;
}

.countdown:active {
    opacity: 0;
    padding: 0;
}

#tool-chooser {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.tool-choice > .pixel-border {
    height: 8rem;
    width: 8rem;
    border-color: hsla(240,40%,80%,1);
}

.tool-choice {
    line-height: 0;
}

#scoreboard {
    display: flex;
    justify-content: center;
    gap: 2rem;
}