/* Element styling */

* {
    margin: 0.5rem 0;
}

body {
    background-color: hsla(240,100%,10%,1);
    color: white;
    text-align: center;
    font-family: 'Silkscreen', cursive;
}

hr {
    width: 80%;
    margin: 2rem auto;
    border: solid 2px white;
}

.pixel-border {
    border: solid 4px white;
    border-radius: 4px;
    clip-path: polygon(
        0px 4px,
        4px 4px,
        4px 0px,
        calc(100% - 4px) 0px,
        calc(100% - 4px) 4px,
        100% 4px,
        100% calc(100% - 4px),
        calc(100% - 4px) calc(100% - 4px),
        calc(100% - 4px) 100%,
        4px 100%,
        4px calc(100% - 4px),
        0px calc(100% - 4px)
      );
}

.reflect {
    transform: scaleX(-1);
}

.site-title {
    padding: 2rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    line-height: 1.5;
}

#arena {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image: linear-gradient(to top, hsla(0, 100%, 0%, 0.6), hsla(0,100%,0%,0));
    border-bottom: solid 0.5rem hsla(240,10%,50%,1);
}

#player-box {
    margin: 2rem auto;
    padding: 2rem;
    display: inline-block;
    background-image: linear-gradient(to top, black, #272727);
}

#arena > .rps-image {
    height: 12rem;
    width: 12rem;
    flex-shrink: 0;
}

.countdown {
    padding: 2rem 4rem;
    font-size: 3rem;
    transition: padding 0.5s;
    text-shadow: 0px 0px 10px white;
}

.countdown:active {
    transform: scale(0);
    padding: 0;
}

/* Tool chooser */

.tool-chooser {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0rem 4rem;
}

.tool-choice {
    line-height: 1;
    transition: 200ms;
}

.tool-choice:hover {
    color: hsla(50, 100%, 60%, 1);
    text-shadow: 0px 0px 10px white;
}

.scoreboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0rem 2rem;
}

/* Hover effect for choice selection */

.rps-rock,
.rps-paper,
.rps-scissors {
    height: 8rem;
    width: 8rem;
    transition: 200ms;
}

.rps-rock:hover,
.rps-paper:hover,
.rps-scissors:hover {
    transform: scale(1.1);
}

.rps-rock {background-image: url(./images/rock-hover.svg);}
.rps-rock:hover {background-image: url(./images/rock-active.svg);}

.rps-paper {background-image: url(./images/paper-hover.svg);}
.rps-paper:hover {background-image: url(./images/paper-active.svg);}

.rps-scissors {background-image: url(./images/scissors-hover.svg);}
.rps-scissors:hover {background-image: url(./images/scissors-active.svg);}

/* Make choices inactive once an option is selected */

.rps-rock-inactive,
.rps-paper-inactive,
.rps-scissors-inactive {
    height: 8rem;
    width: 8rem;
}

.rps-rock-inactive {background-image: url(/images/rock-inactive.svg);}
.rps-paper-inactive {background-image: url(/images/paper-inactive.svg);}
.rps-scissors-inactive {background-image: url(/images/scissors-inactive.svg);}